<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="container col-lg-6">
	<div class="section-title info-wrap">
		<h2><span>Login</span></h2>
		<p>Login User</p>
	<div class="form-group">
		<form id="form" method="post" >
			<input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br/>
			<input type="password" name="password" placeholder="password" required="" class="form-control"><br/>
			<input type="submit" value="Login" class="btn book-a-table-btn scrollto">
		</form>
	</div>
	<br>
	<div class="rounded mssg bg-dark text-white">
		<span id="check" ></span>
	</div>
	<div id="LangTable"><a href="/profile" id="aa"></a>
	</div><br>
	<div><span>Create a new Account? </span><a href="/">Register here</a>
	</div>
</div>
</div>
</div>

 
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->